body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../src/imagens/backgraound.jpg');
}

.caixa-maior {
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 450px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 90px);
}

.botao-busca{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.img-busca {
    width: 24px;
} 

.caixa-media {
    margin-top: 30px;

}

.cidade {
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
}

.temp {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.texto-previsao {
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    color: #ffffff;
    margin-top: 20px;
}